/* colors used throughout the page */
/* set box-sizing, margin, padding, and color for html and body */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* set background image for the body */
body {
  overflow: auto;
  padding: 0;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  background: url(lightshopping.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* add fornt to h1 and h3 */
h1,
h3 {
  font-family: 'Fredericka the Great', cursive;
}
/* set font size for h1 */
h1 {
  color: white;
  font-size: 4em;
  text-shadow: 2px 2px black;
}
h3 {
  font-size: 2em;
}
hr {
  background-color: #A2A60E;
  height: 1px;
}
/* reset components */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* set color, radius, border and opacity of class */
.content-background {
  background-color: #eff8f2;
  border: 6px solid #cdcdcd;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
/* set margin and padding for content */
.content {
  margin: 0 auto;
  padding: 1rem;
  /* set padding for content ul */
  /* set margin and display for content li */
  /* set border, width, height, shadow, and padding for content i */
}
.content ul {
  padding: 0;
}
.content li {
  display: block;
  margin-bottom: 5px;
}
.content i {
  border-radius: 1.25rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 0px 3px black;
  padding-left: .25rem;
  margin-top: .5rem;
}
/* set float for listnames */
.listNames {
  float: left;
  /* set border color for listnames and listitems error */
}
.listNames .error {
  border-color: #F5403A;
}
.listItems {
  overflow: hidden;
}
/* align text center for title, listitemstitle, and form */
.center-text {
  text-align: center;
}
.center-div {
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -142px;
}
.center-div:after {
  content: "";
  display: block;
}
/*set font awesome icon to red and float right */
.fa-times {
  color: black;
  float: right;
}
/* highlight selected field */
.highlight {
  background-color: #F5403A;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: -5px;
  margin-left: -5px;
}
[type="submit"] {
  color: white;
  background-color: #065FA6;
  border: 0;
}
.cross-out {
  text-decoration: line-through;
}
/* hide element taking up space and set text to red */
.storageErrorStatus {
  visibility: hidden;
  color: #F5403A;
}
/* hide element without taking space */
.hidden {
  display: none !important;
}
.social {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
.social li {
  display: inline-block;
  margin: 5px;
}
.social-footer i,
.social-footer p {
  color: white;
}
.social-bottom {
  max-width: 288px;
}
.social-footer,
.center-div:after {
  height: 142px;
}
.listItems li,
.listNames li,
.input {
  font-size: 2em;
}
/* do the following if using screen with max of 48rem */
@media only screen and (max-width: 48em) {
  .center-div {
    width: 100%;
  }
  /* set width for section and aside */
  section,
  aside {
    width: 100%;
  }
  /* set bottom margin for aside content */
  aside .content {
    margin-bottom: 1rem;
  }
  /* decrease h1 font size */
  h1 {
    font-size: 3em;
  }
}
/* do the following if using screen with width of 48rem */
@media only screen and (min-width: 48em) {
  /* set body width */
  .center-div {
    width: 45rem;
  }
  /* set aside content width and margin */
  aside {
    width: 18rem;
    margin-right: 2rem;
  }
  section {
    width: 25rem;
  }
  input.listName {
    width: 9rem;
  }
}
/* do the following if using screen with width of 75rem */
@media only screen and (min-width: 75em) {
  /* set aside content width and margin */
  aside {
    width: 28rem;
    margin-right: 2rem;
  }
  /* set section content width */
  section {
    width: 40rem;
  }
  /*set input width */
  input.listName {
    width: 14rem;
  }
  .center-div {
    width: 70rem;
  }
}
/*# sourceMappingURL=shopping-list-app.2.1.0.css.map */