/* colors used throughout the page */
/* set box-sizing, margin, padding, and color for html and body */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* set background image for the body */
body {
  background-color: white;
  overflow: auto;
  padding: 0;
  margin: auto;
  font-family: 'Architects Daughter', 'sans-serif';
}
/* add fornt to h1 and h3 */
h1,
h3 {
  font-family: 'Bangers', 'sans-serif';
}
h1 {
  color: #F44336;
}
/* set font size for h1 */
h1 {
  font-size: 64px;
}
/* reset components */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* set color, radius, border and opacity of class */
.content-background {
  background-color: #37C117;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid black;
  filter: alpha(opacity=60);
}
/* set margin and padding for content */
.content {
  margin: 0 auto;
  padding: 1rem;
  /* set padding for content ul */
  /* set margin and display for content li */
  /* set border, width, height, shadow, and padding for content i */
}
.content ul {
  padding: 0;
}
.content li {
  display: block;
  margin-bottom: 5px;
}
.content i {
  border-radius: 1.25rem;
  width: 1rem;
  height: 1rem;
  box-shadow: 0px 0px 3px #18191b;
  padding-left: .1rem;
}
/* set float for listnames and listitems */
.listNames,
.listItems {
  float: left;
  /* set border color for listnames and listitems error */
}
.listNames .error,
.listItems .error {
  border-color: #F44336;
}
/* align text center for title, listitemstitle, and form */
.center-text {
  text-align: center;
}
.center-div {
  margin: 0 auto;
}
/*set font awesome icon to red and float right */
.fa-times {
  color: #F44336;
  float: right;
}
/* highlight selected field */
.highlight {
  background-color: #cb9b67;
}
/* hide element taking up space and set text to red */
.storageErrorStatus {
  visibility: hidden;
  color: #F44336;
}
/* hide element without taking space */
.hidden {
  display: none !important;
}
/* do the following if using screen with max of 48rem */
@media only screen and (max-width: 48em) {
  .center-div {
    width: 100%;
  }
  /* set width for section and aside */
  section,
  aside {
    width: 100%;
  }
  /* set bottom margin for aside content */
  aside .content {
    margin-bottom: 1rem;
  }
  /* decrease h1 font size */
  h1 {
    font-size: 32px;
  }
}
/* do the following if using screen with width of 48rem */
@media only screen and (min-width: 48em) {
  /* set body width */
  .center-div {
    width: 45rem;
  }
  /* set aside content width and margin */
  aside {
    width: 18rem;
    margin-right: 2rem;
  }
  section {
    width: 25rem;
  }
  input.listName {
    width: 9rem;
  }
}
/* do the following if using screen with width of 75rem */
@media only screen and (min-width: 75em) {
  /* set aside content width and margin */
  aside {
    width: 28rem;
    margin-right: 2rem;
  }
  /* set section content width */
  section {
    width: 40rem;
  }
  /*set input width */
  input.listName {
    width: 7rem;
  }
  .center-div {
    width: 70rem;
  }
}
/*# sourceMappingURL=shopping-list-app.1.0.6.css.map */